/* no changes */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
/* no changes except maybe when click to add content to present or future blue border? */
textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}
/* no change */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
/* assign to something...middle column? */
.description{
  white-space: pre-wrap;
}
/* entire row */
.time-block{
  text-align: center;
  border-radius: 15px;
}
/* applies when using bootstrap automatically */
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}
/* added to html already for the hour block, and need to apply to all dynamically added rows */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}
/* need to add to all hours that are behind now */
.past {
  background-color: #d3d3d3;
  color: white;
}
/* apply to "now" */
.present {
  background-color: #ff6961;
  color: white;
}
/* apply to all hours that are ahead of now */
.future {
  background-color: #77dd77;
  color: white;
}
/* apply to all hours */
.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
}
/* somehow need to apply to the buttons */
.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
